body{
    background-color: rgb(9, 4, 32);
    font-family: 'DM Sans';
    font-weight:100;
    font-size: large ;
}
.bg-img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
/* Navbar stuff */
#navTitle{
    font-size: x-large;
    font-family: 'DM Sans';
    font-weight:100;
}
.navbar{
    height: 75px;
    background:transparent;
    transition: all 0.5s;
 }
.nav-link,
.navbar-brand{
    color: rgb(255, 221, 0);
}
.nav-link:hover {
    color:cornsilk;
}
.navbar-brand:hover{
    color: rgb(255, 221, 0);
}
.navbar-scrolled{
    background-color: rgb(2, 29, 81);
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.5);
}

/* Card stuff */
.card-text{
    font-size: 24px;
}
.card-body{
    background-color: rgb(160, 179, 179);
}


