body{
    position: absolute;
    background-color: rgb(175, 195, 232);
    font-family: 'DM Sans';
    font-weight:100;
    font-size: large;
}

/* Navbar stuff */
#navTitle{
    font-size: x-large;
    font-family: 'DM Sans';
    font-weight:100;
}
.navbar{
    margin-top: 40px;
    width: 70vw;
    background-color: rgb(175, 195, 232);
    border-radius: 80px;
    height: 75px;
    transition: all 0.5s;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.5);

 }
.nav-link,
.navbar-brand{
    margin-left: 25px;
    color: rgb(45, 45, 45);
}
.navbar-brand:hover{
    color:cornsilk;
}
.nav-link:hover {
    color:cornsilk;
}

.navbar-scrolled{
    margin-top: 0px;
    width: 100vw;
    border-radius: 0px;
    background-color: rgb(175, 195, 232);
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.5);
}
.navbar-nav{
    margin-right: 25px;
}




.wrapping-box-contact{
    display: flex;
    background-color: rgb(175, 195, 232);
    width:100vw;
    height: auto;
    border-radius: 0;
    padding: 50px;
    justify-content: center;
    z-index: -2;

}
.wrapping-box-contact h1{
    text-align: center;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: 600;
    color:#000;
}
.wrapping-box-contact h3{
    padding: 20px;
    width: 70vw;
    text-align: center;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 300;
    color:rgb(0, 0, 0);
}
.textC{
    border-radius: 10px;
    padding: 40px;
    width: 50vw;
    background-color:rgb(131, 146, 174);
    text-align: left;
    margin: 50px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 100;
    color:#ffffff;
}
.textC h2{
    padding: 20px;
    background-color:rgb(131, 146, 174);
    text-align: left;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 300;
    color:rgb(255, 225, 225)fff;
}
.smtg{
    margin-bottom: 20px;
}
.tt{
    width:50vw;
}

